.App {
  width: 70%;
  padding: 1rem 1rem;
}
@media(max-width: 60rem) {
  .App {
    width: 100%;
  }
}


h2 {
  margin: 1rem
}

form {
  width: 35rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: rgba(255,165,0, 0.5);
  border-radius: 1rem
}

form .row {
  margin: .5rem 0;
}

label {
  display: inline-block;
  width: 20rem;
}

input {
  font-size: 1rem;
  display: inline-block;
  width: 10rem;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
}

table tr.total td {
  font-weight: bolder;
  background-color: orange;
  padding: 1.5rem 1rem;
}
table tbody {
  max-height: 300px;
  height: 300px;
  overflow: hidden;
}
table tr td input {
  width: auto;
}

td.warn {
  background-color: yellow;
}
td.crit {
  background-color: red;
}
td.total {
  background-color: lightgray;
  text-align: center;
}

table tr.total td.netto {
  background-color: lightblue;
  text-align: center;
}